


		
		<!-- ***************************** Person Detail Window Code ***********************************-->
		<div class="modal fade" id="detail-window">
			<div class="modal-dialog">
				<div class="modal-content">
					
					<!-- Header -->
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h3 class="modal-title">Detail</h3>
					</div>
					
					<!-- Body (form) -->
					<div class="modal-body">
						<form>
							<div class="image_holder">
								<a href="#" data-toggle="modal" data-target="#imageEnlarge">
									<%= image_tag 'img11.jpg', class:"img-responsive"%>
								</a>
								<h5>Click the Image to Zoom it.</h5>
							</div><br>
							<div class="row">
								<div class="col-md-4">
									<label>Status</label><br>
									<label class="btn btn-default" style="width: 200px"><b>Missing</b></label>
								</div>
								<div class="col-md-4">
									<label>Name</label><br>
									<label class="btn btn-default" style="width: 200px"><b>Faizan</b></label>
								</div>
								<div class="col-md-4">
									<label>Father Name</label><br>
									<label class="btn btn-default" style="width: 200px"><b>Unknown</b></label>
								</div>
							</div><br>
							<div class="row">
								<div class="col-md-4">
									<label>Clothes</label><br>
									<label class="btn btn-default" style="width: 200px"><b>Pant Shirt</b></label>
								</div>
								<div class="col-md-4">
									<label>Cloth Color</label><br>
									<label class="btn btn-default" style="width: 200px"><b>Blue</b></label>
								</div>
								<div class="col-md-4">
									<label>Color</label><br>
									<label class="btn btn-default" style="width: 200px"><b>Black</b></label>
								</div>
							</div><br>
							<div class="row">
								<div class="col-md-4">
									<label>Place Where Miss</label><br>
									<label class="btn btn-default" style="width: 200px"><b>Anarkali</b></label>
								</div>
								<div class="col-md-4">
									<label>City</label><br>
									<label class="btn btn-default" style="width: 200px"><b>Lahore</b></label>
								</div>
								<div class="col-md-4">
									<label>Age</label><br>
									<label class="btn btn-default" style="width: 200px"><b>28</b></label>
								</div>
							</div><br>
							<div class="row">
								<div class="col-md-4">
									<label>Mental Status</label><br>
									<label class="btn btn-default" style="width: 200px"><b>Pagal</b></label>
								</div>
								<div class="col-md-4">
									<label>Contact #</label><br>
									<label class="btn btn-default" style="width: 200px"><b>03451481947</b></label>
								</div>
								<div class="col-md-4">
									<label>Description</label><br>
									<label class="btn btn-default" style="width: 200px"><b>Shoot Him</b</label>
								</div>
							</div>
						</form>
					</div>
					
					<!-- Submit Button (footer)-->
					<div class="modal-footer">
						<button class="btn btn-primary btn-block" data-toggle="modal" data-target="#detail-window1">Posted By</button>
					</div>
				</div>
			</div>
		</div>
		<!-- ****************************************** End of Person Window**************************************** -->
		
		<!-- ***************************** posted by Window Code ***********************************-->
		<div class="modal fade" id="detail-window1">
			<div class="modal-dialog">
				<div class="modal-content">
					
					<!-- Header -->
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h3 class="modal-title">Posted By</h3>
					</div>
					
					<!-- Body (form) -->
					<div class="modal-body">
						<form role="form">
							<div class="form-group">
								<label>Name</label>
								<input type="text" class="form-control" value="Ali Ahmed" readonly>
							</div>
							<div class="form-group">
								<label>Phone Number</label>
								<input type="text" class="form-control" value="03211243567" readonly>
							</div>
							<div class="form-group">
								<label>Description</label>
								<input type="text" class="form-control" value="I found him in the park." readonly>
							</div>
						</form>
					</div>
					
					<!-- Submit Button (footer)-->
					<div class="modal-footer">
						<button class="btn btn-primary btn-block">Login</button>
					</div>
				</div>
			</div>
		</div>
		<!-- ****************************************** End of Posted by Window**************************************** -->
		
		<!-- ***************************** Image Enlarge Window Code ***********************************-->
		<div class="modal fade" id="imageEnlarge">
			<div class="modal-dialog">
				<div class="modal-content">
					
					<!-- Header -->
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h3>Image</h3>
					</div>
					
					<!-- Body (form) -->
					<div class="modal-body">
						<img src="Images/img12.jpg" id="imagepreview" class="img-responsive">
					</div>
				</div>
			</div>
		</div>
		<!-- ****************************************** End of Person Window**************************************** -->
		
		
		<!-- ******************************************** Main Window Pics Content *********************************-->
		<div class="row" id="head">
			<div class="col-md-8">
				<div class="panel panel-default" style="background:#A1887F;">
					<div class="panel-heading">Recent Missing/Found Persons</div>
						<div class="panel-body" id="panel_home_images" style="overflow-y: scroll hidden;">
							<div class="row" id="home_images">
								<div class="col-md-4">
									<figure style="width:100%;">
										<a href="#" data-toggle="modal" data-target="#detail-window">
											<%= image_tag 'img11.jpg', class:"img-thumbnail" %>
										</a>
										<center>
											<figcaption style="background:#333;">
												<a href="#" data-toggle="modal" data-target="#detail-window" style="text-decoration:none;">
													<h4 style="text-decoration:none;">Detail<h4>
												</a>
											</figcaption>
										</center>
									</figure>
								</div>
								<div class="col-md-4">
									<figure>
										<a href="#" data-toggle="modal" data-target="#detail-window">
											<%= image_tag 'img1.jpg', class:"img-thumbnail" %>
										</a>
										<center>
											<figcaption style="background:#333;">
												<a href="#" data-toggle="modal" data-target="#detail-window" style="text-decoration:none;">
													<h4 style="text-decoration:none;">Detail<h4>
												</a>
											</figcaption>
										</center>
									</figure>
								</div>
								<div class="col-md-4">
									<figure>
										<a href="#" data-toggle="modal" data-target="#detail-window">
											<%= image_tag 'img11.jpg', class:"img-thumbnail" %>
										</a>
										<center>
											<figcaption style="background:#333;">
												<a href="#" data-toggle="modal" data-target="#detail-window" style="text-decoration:none;">
													<h4 style="text-decoration:none;">Detail<h4>
												</a>
											</figcaption>
										</center>
									</figure>
								</div>
							</div>
							
							<div class="row" id="home_images" style="padding:10px;">
								<div class="col-md-4">
									<figure>
										<a href="#" data-toggle="modal" data-target="#detail-window">
											<%= image_tag 'img11.jpg', class:"img-thumbnail" %>
										</a>
										<center>
											<figcaption style="background:#333;">
												<a href="#" data-toggle="modal" data-target="#detail-window" style="text-decoration:none;">
													<h4 style="text-decoration:none;">Detail<h4>
												</a>
											</figcaption>
										</center>
									</figure>
								</div>
								<div class="col-md-4">
									<figure>
										<a href="#" data-toggle="modal" data-target="#detail-window">
											<%= image_tag 'img11.jpg', class:"img-thumbnail" %>
										</a>
										<center>
											<figcaption style="background:#333;">
												<a href="#" data-toggle="modal" data-target="#detail-window" style="text-decoration:none;">
													<h4 style="text-decoration:none;">Detail<h4>
												</a>
											</figcaption>
										</center>
									</figure>
								</div>
								<div class="col-md-4">
									<figure>
										<a href="#" data-toggle="modal" data-target="#detail-window">
											<%= image_tag 'img11.jpg', class:"img-thumbnail" %>
										</a>
										<center>
											<figcaption style="background:#333;">
												<a href="#" data-toggle="modal" data-target="#detail-window" style="text-decoration:none;">
													<h4 style="text-decoration:none;">Detail<h4>
												</a>
											</figcaption>
										</center>
									</figure>
								</div>
							</div>
							<div class="row" id="home_images" style="padding:10px;">
								<div class="col-md-4">
									<figure>
										<a href="#" data-toggle="modal" data-target="#detail-window">
											<%= image_tag 'img11.jpg', class:"img-thumbnail" %>
										</a>
										<center>
											<figcaption style="background:#333;">
												<a href="#" data-toggle="modal" data-target="#detail-window" style="text-decoration:none;">
													<h4 style="text-decoration:none;">Detail<h4>
												</a>
											</figcaption>
										</center>
									</figure>
								</div>
								<div class="col-md-4">
									<figure>
										<a href="#" data-toggle="modal" data-target="#detail-window">
											<%= image_tag 'img11.jpg', class:"img-thumbnail" %>
										</a>
										<center>
											<figcaption style="background:#333;">
												<a href="#" data-toggle="modal" data-target="#detail-window" style="text-decoration:none;">
													<h4 style="text-decoration:none;">Detail<h4>
												</a>
											</figcaption>
										</center>
									</figure>
								</div>
								<div class="col-md-4">
									<figure>
										<a href="#" data-toggle="modal" data-target="#detail-window">
											<%= image_tag 'img11.jpg', class:"img-thumbnail" %>
										</a>
										<center>
											<figcaption style="background:#333;">
												<a href="#" data-toggle="modal" data-target="#detail-window" style="text-decoration:none;">
													<h4 style="text-decoration:none;">Detail<h4>
												</a>
											</figcaption>
										</center>
									</figure>
								</div>
							</div>
							<div class="row" id="home_images" style="padding:10px;">
								<div class="col-md-4">
									<figure>
										<a href="#" data-toggle="modal" data-target="#detail-window">
											<%= image_tag 'img11.jpg', class:"img-thumbnail" %>
										</a>
										<center>
											<figcaption style="background:#333;">
												<a href="#" data-toggle="modal" data-target="#detail-window" style="text-decoration:none;">
													<h4 style="text-decoration:none;">Detail<h4>
												</a>
											</figcaption>
										</center>
									</figure>
								</div>
								<div class="col-md-4">
									<figure>
										<a href="#" data-toggle="modal" data-target="#detail-window">
											<%= image_tag 'img11.jpg', class:"img-thumbnail" %>
										</a>
										<center>
											<figcaption style="background:#333;">
												<a href="#" data-toggle="modal" data-target="#detail-window" style="text-decoration:none;">
													<h4 style="text-decoration:none;">Detail<h4>
												</a>
											</figcaption>
										</center>
									</figure>
								</div>
								<div class="col-md-4">
									<figure>
										<a href="#" data-toggle="modal" data-target="#detail-window">
											<%= image_tag 'img11.jpg', class:"img-thumbnail" %>
										</a>
										<center>
											<figcaption style="background:#333;">
												<a href="#" data-toggle="modal" data-target="#detail-window" style="text-decoration:none;">
													<h4 style="text-decoration:none;">Detail<h4>
												</a>
											</figcaption>
										</center>
									</figure>
								</div>
							</div>
							<div class="row" id="home_images" style="padding:10px;">
								<div class="col-md-4">
									<figure>
										<a href="#" data-toggle="modal" data-target="#detail-window">
											<%= image_tag 'img11.jpg', class:"img-thumbnail" %>
										</a>
										<center>
											<figcaption style="background:#333;">
												<a href="#" data-toggle="modal" data-target="#detail-window" style="text-decoration:none;">
													<h4 style="text-decoration:none;">Detail<h4>
												</a>
											</figcaption>
										</center>
									</figure>
								</div>
								<div class="col-md-4">
									<figure>
										<a href="#" data-toggle="modal" data-target="#detail-window">
											<%= image_tag 'img11.jpg', class:"img-thumbnail" %>
										</a>
										<center>
											<figcaption style="background:#333;">
												<a href="#" data-toggle="modal" data-target="#detail-window" style="text-decoration:none;">
													<h4 style="text-decoration:none;">Detail<h4>
												</a>
											</figcaption>
										</center>
									</figure>
								</div>
								<div class="col-md-4">
									<figure>
										<a href="#" data-toggle="modal" data-target="#detail-window">
											<%= image_tag 'img1.jpg', class:"img-thumbnail" %>
										</a>
										<center>
											<figcaption style="background:#333;">
												<a href="#" data-toggle="modal" data-target="#detail-window" style="text-decoration:none;">
													<h4 style="text-decoration:none;">Detail<h4>
												</a>
											</figcaption>
										</center>
									</figure>
								</div>
							</div>
							<div class="row" id="home_images" style="padding:10px;">
								<div class="col-md-4">
									<figure>
										<a href="#" data-toggle="modal" data-target="#detail-window">
											<%= image_tag 'img1.jpg', class:"img-thumbnail" %>
										</a>
										<center>
											<figcaption style="background:#333;">
												<a href="#" data-toggle="modal" data-target="#detail-window" style="text-decoration:none;">
													<h4 style="text-decoration:none;">Detail<h4>
												</a>
											</figcaption>
										</center>
									</figure>
								</div>
								<div class="col-md-4">
									<figure>
										<a href="#" data-toggle="modal" data-target="#detail-window">
											<%= image_tag 'img1.jpg', class:"img-thumbnail" %>
										</a>
										<center>
											<figcaption style="background:#333;">
												<a href="#" data-toggle="modal" data-target="#detail-window" style="text-decoration:none;">
													<h4 style="text-decoration:none;">Detail<h4>
												</a>
											</figcaption>
										</center>
									</figure>
								</div>
								<div class="col-md-4">
									<figure>
										<a href="#" data-toggle="modal" data-target="#detail-window">
											<%= image_tag 'img1.jpg', class:"img-thumbnail" %>
										</a>
										<center>
											<figcaption style="background:#333;">
												<a href="#" data-toggle="modal" data-target="#detail-window" style="text-decoration:none;">
													<h4 style="text-decoration:none;">Detail<h4>
												</a>
											</figcaption>
										</center>
									</figure>
								</div>
							</div>
						</div>
						<ul class="pager">
							<li class="disabled"><a href="#">&laquo;</a></li>
							<li class="active"><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li><a href="#">6</a></li>
							<li><a href="#">7</a></li>
							<li><a href="#">&raquo;</a></li>
						</ul>
				</div>
			</div>
			
			
			<!-- ********************************************* Search Side Bar ********************************************** -->
			<script>
				$(document).ready(function() {
					
				
					$("#fileUpload").on('change', function() {
						//Get count of selected files
						var countFiles = $(this)[0].files.length;
						var imgPath = $(this)[0].value;
						var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
						var image_holder = $("#image-holder");
						image_holder.empty();
						if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
							if (typeof(FileReader) != "undefined") {
								//loop for each file selected for uploaded.
								for (var i = 0; i < countFiles; i++) 
								{
									var reader = new FileReader();
									reader.onload = function(e) {
									$("<img />", {
									"src": e.target.result,
									"class": "thumb-image",
									"width": "100px",
									"height":"100px"
									}).appendTo(image_holder);
								}
								image_holder.show();
								reader.readAsDataURL($(this)[0].files[i]);
								}
							} else {
								alert("This browser does not support FileReader.");
							}
						}else {
							alert("Pls select only images");
						}
					});
				});
			</script>
			
			<!-- *********************************************** Search Side Bar ***************************************************-->
			<div class="col-sm-4" id="searchDiv">
				<div class="panel panel-default" id="search" style="height:83%;max-height: 100%;overflow-y: scroll;">
					<div class="panel-heading">Search Persons</div>
					<div class="panel-body">
						<div class="form-group">
							<p>To optimize your search rresults,provide picture of </p>
							<p>person with a clear face to do search by picture.</p>
							<div class="row">
								<div class="col-md-1">
									<div id="image-holder"></div>
								</div>		
							</div>
							<input id="fileUpload" type="file" class="btn-success"/> 
						</div>
						<div class="row">
							<div class="col-md-12">
								<label>Enter Date and Time You want to search from:</label>
								<input type="datetime-local" class="form-control" />
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<label>Name:</label>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<input type="text" class="form-control" id="Name" placeholder="Name (optional)">
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<label>Father Name:</label>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<input type="text" class="form-control" id="FName" placeholder="Father Name(Optional)">
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<label>Age:</label>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<select class="form-control" id="Clothes">
									<option value="0" selected="0">---- (optional)</option>
									<option value="1">1-5 years</option>
									<option value="2">6-8 years</option>
									<option value="3">9-12 years</option>
									<option value="3">13-15 years</option>
									<option value="3">16-18 years</option>
									<option value="3">19-22 years</option>
									<option value="3">23-25 years</option>
									<option value="3">25-35 years</option>
									<option value="3">35-50 years</option>
									<option value="3">Greater than 50 years</option>
								</select>  		
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<label>Face Color:</label>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<select class="form-control" id="Clothes">
									<option value="0" selected="0">----</option>
									<option value="1">Brown</option>
									<option value="2">Light Brown</option>
									<option value="3">Dark Brown</option>
									<option value="3">White</option>
									<option value="3">Black</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<label>Gender:</label>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<select class="form-control" id="Clothes">
									<option value="0" selected="0">----</option>
									<option value="1">Male</option>
									<option value="2">Female</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<label>Special Person:</label>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<select class="form-control" id="Clothes">
									<option value="0" selected="0">----</option>
									<option value="1">Yes</option>
									<option value="2">No</option>
								</select>
							</div>
						</div><br>
						<div class="row">
						<center>
							<div class="col-sm-12">
								<span class="icon-input-btn btn-success"><span class="glyphicon glyphicon-search"></span> 
								<input type="submit" class="btn btn-success btn-block" id="a" value="Search"></span>
							</div>
							</center>
						</div>
					</div>
				</div>
			</div>
			
			<!-- ******************************************** End of Search Side Bar ******************************************* -->
			
		</div>
	</div>