<head>
	<script>
		$(document).ready(function() {
			$(document).scroll(function () {
						var scroll = $(this).scrollTop();
						var topDist = $("#navbar").position();
						if (scroll > topDist.top) {
						$('.navbar').css({"position":"fixed","width":"100%","z-index":"1"});
						if($('#search').css("position") == "fixed"){
							$('#search').css({"position":"fixed","top":"88"});}
						} else {
							$('.navbar').css({"position":"static","top":"auto"});
						}
			});
		});
		
		$(window).load(function() {
			var width = $(window).width();
			if (width >= 991) {
				$('#search').css({"position":"fixed"});
			} else {
				$('#search').css({"position":"initial"});
			}
		});		
	</script>
</head>

		<!-- ******************************************** Main Window Pics Content *********************************-->
		<div class="row">
			<div class="col-md-8">
				<div class="panel panel-default" style="background:#A1887F;">
					<div class="panel-heading">Make a Post</div>
						<div class="panel-body" id="panel_home_images" style="overflow-y: scroll hidden;">
							<%= form_for @post do |f| %>
							<label>Upload Image</label>
								<div class="container-fluid" id="postImage-holder" class="img-thumbnail"></div>
								<input id="post-upload" type="file" class="btn-success"/><br>
								<div class="row">
									<div class="col-md-4">
										<%= f.label :name %>
										<%= f.text_area :name%>
									</div>
									<div class="col-md-4">
										<%= f.label :fathername %>
										<%= f.text_area :fathername%>
									</div>
								</div>

								<br>
								<div class="row">
									<div class="col-md-4">
										<label>Clothes</label>
										<select class="form-control" id="Clothes">
											<option value="0" selected="0">----</option>
											<option value="1">Pant Shirt</option>
											<option value="2">Trouser Shirt</option>
											<option value="3">Shalwar Qameez</option>
										</select>
									</div>
									<div class="col-md-4">
										<label>Cloth Color</label>
										<input type="text" class="form-control" id="CColor" placeholder="Cloth Color">
									</div>
									<div class="col-md-4">
										<label>Color</label>
										<input type="text" class="form-control" id="Color" placeholder="Color">
									</div>
								</div>

								<br>
								<div class="row">
									<div class="col-md-4">
										<label>Place Where Miss</label>
										<input type="text" class="form-control" id="Place" placeholder="Place Where Miss">
									</div>
									<div class="col-md-4">
										<label>City</label>
										<select class="form-control" id="City">
											<option value="0" selected="0">----</option>
											<option value="1">Faisalabad</option>
											<option value="2">Islamabad</option>
											<option value="3">Gujranwala</option>
											<option value="4">Hyderabad</option>
											<option value="5">Karachi</option>
											<option value="6">Lahore</option>
											<option value="7">Multan</option>
											<option value="8">Muree</option>
											<option value="9">Okara</option>
											<option value="10">Sialkot</option>
										</select>
									</div>
									<div class="col-md-4">
										<label>Age</label>
										<select class="form-control" id="Age">
											<option value="0" selected="0">----</option>
											<option value="1">1-5 Year</option>
											<option value="2">6-10 Years</option>
											<option value="3">11-15 Years</option>
											<option value="4">16-20 Years</option>
											<option value="5">21-25 Years</option>
											<option value="6">26-30 Years</option>
											<option value="7">31-35 Years</option>
											<option value="8">36-40 Years</option>
											<option value="9">41-45 Years</option>
											<option value="10">46-50 Years</option>
											<option value="11">50+ Years</option>
										</select>
									</div>
								</div>

								<br>
								<div class="row">
										<div class="col-md-4">
											<label>Mental Status</label>
										<select class="form-control" id="Condition">
											<option value="0" selected="0">----</option>
											<option value="1">Normal</option>
											<option value="2">Special Person</option>
										</select>
										</div>
										<div class="col-md-4">
										<label>Contact #</label>
										<input type="text" class="form-control" id="Contact" placeholder="Contact Number">
									</div>
									<div class="col-md-4">
										<label>Description</label>
										<input type="text" class="form-control" id="Contact" placeholder="Description">
									</div>
								</div>
									<br>
								<div class="row">
									<div class="col-md-4"></div>
									<div class="col-md-4"></div>
									<div class="col-md-4">
										<%= f.submit %>
									</div>
									
								</div>
							<% end %>
						</div>
				</div>
			</div>
			
			
			<!-- ********************************************* Search Side Bar ********************************************** -->
			<script>
				$(document).ready(function() {
					$("#post-upload").on('change', function() {
						//Get count of selected files
						var countFiles = $(this)[0].files.length;
						var imgPath = $(this)[0].value;
						var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
						var image_holder = $("#postImage-holder");
						image_holder.empty();
						if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
							if (typeof(FileReader) != "undefined") {
								//loop for each file selected for uploaded.
								for (var i = 0; i < countFiles; i++) 
								{
									var reader = new FileReader();
									reader.onload = function(e) {
									$("<img />", {
									"src": e.target.result,
									"class": "thumb-image",
									"width": "100px",
									"height":"100px"
									}).appendTo(image_holder);
								}
								image_holder.show();
								reader.readAsDataURL($(this)[0].files[i]);
								}
							} else {
								alert("This browser does not support FileReader.");
							}
						}else {
							alert("Pls select only images");
						}
					});
					$("#searchImage-upload").on('change', function() {
						//Get count of selected files
						var countFiles = $(this)[0].files.length;
						var imgPath = $(this)[0].value;
						var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
						var image_holder = $("#searchImage-holder");
						image_holder.empty();
						if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
							if (typeof(FileReader) != "undefined") {
								//loop for each file selected for uploaded.
								for (var i = 0; i < countFiles; i++) 
								{
									var reader = new FileReader();
									reader.onload = function(e) {
									$("<img />", {
									"src": e.target.result,
									"class": "thumb-image",
									"width": "100px",
									"height":"100px"
									}).appendTo(image_holder);
								}
								image_holder.show();
								reader.readAsDataURL($(this)[0].files[i]);
								}
							} else {
								alert("This browser does not support FileReader.");
							}
						}else {
							alert("Pls select only images");
						}
					});
				});
			</script>
			<!-- *********************************************** Search Side Bar ***************************************************-->
			<div class="col-sm-4" id="searchDiv">
				<div class="panel panel-default" id="search" style="height:83%;max-height: 100%;overflow-y: scroll;">
					<div class="panel-heading">Search Persons</div>
					<div class="panel-body">
						<div class="form-group">
							<label>Upload Image</label>
							<div class="row">
								<div class="col-md-1">
									<div id="searchImage-holder"></div>
								</div>		
							</div>
							<input id="searchImage-upload" type="file" class="btn-success"/> 
						</div>
						<div class="row">
							<div class="col-md-12">
								<label>Enter Date and Time You want to search from:</label>
								<input type="datetime-local" class="form-control" />
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<label>Name:</label>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<input type="text" class="form-control" id="Name" placeholder="Name">
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<label>Father Name:</label>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<input type="text" class="form-control" id="FName" placeholder="Father Name(Optional)">
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<label>Age:</label>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<select class="form-control" id="Clothes">
									<option value="0" selected="0">----</option>
									<option value="1">1-5 years</option>
									<option value="2">6-8 years</option>
									<option value="3">9-12 years</option>
									<option value="3">13-15 years</option>
									<option value="3">16-18 years</option>
									<option value="3">19-22 years</option>
									<option value="3">23-25 years</option>
									<option value="3">25-35 years</option>
									<option value="3">35-50 years</option>
									<option value="3">Greater than 50 years</option>
								</select>  		
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<label>Face Color:</label>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<select class="form-control" id="Clothes">
									<option value="0" selected="0">----</option>
									<option value="1">Brown</option>
									<option value="2">Light Brown</option>
									<option value="3">Dark Brown</option>
									<option value="3">White</option>
									<option value="3">Black</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<label>Gender:</label>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<select class="form-control" id="Clothes">
									<option value="0" selected="0">----</option>
									<option value="1">Male</option>
									<option value="2">Female</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<label>Special Person:</label>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<select class="form-control" id="Clothes">
									<option value="0" selected="0">----</option>
									<option value="1">Yes</option>
									<option value="2">No</option>
								</select>
							</div>
						</div><br>
						<div class="row">
						<center>
							<div class="col-sm-12">
								<span class="icon-input-btn btn-success"><span class="glyphicon glyphicon-search"></span> 
								<input type="submit" class="btn btn-success btn-sm" value="Search"></span>
							</div>
							</center>
						</div>
					</div>
				</div>
			</div>
			
			<!-- ******************************************** End of Search Side Bar ******************************************* -->
		</div>
	</div>

